@font-face{
    font-family: "Quicksand-Regular";
    src: url(../fonts/Quicksand_Book.otf);
}

@font-face{
    font-family: "Quicksand-Bold";
    src: url(../fonts/Quicksand_Bold.otf);

}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
}
#logo{
    margin: 30px 50px;
 
 }

 #top-nav{
    background-image: url(../img/halftone/halftone-edit.png);
    padding: 0;
 }

#intro { 
    background: 50% 0 fixed; 
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    -webkit-box-shadow: 0px 22px 35px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 22px 35px -13px rgba(0,0,0,0.75);
    box-shadow: 0px 22px 35px -13px rgba(0,0,0,0.75);
    padding: 0;
}

#home-gallery{
    z-index: 100;
    position: relative;
    padding: 0;
/*    border-top: 8px solid #3fc1c0;
*/}

.light-blue{
    background-color: #3fc1c0;
    height: 6px;
    padding: 0;
    width: 100%;

}

.mid-blue{
    background-color: #36a7a6;
    height: 9px;
    width: 100%;
}

.dark-blue{
    background-color: #00847f;
    height: 12px;
    width: 100%;

}

#home-images{
    padding: 0;
}



#home-images img{
    width: 100%;
    padding: 0;
    height: 100%;
}



.color-overlay{
    position:relative;

}

.color-overlay img{
    width: 100%;
    vertical-align: top;

}


.color-overlay:after {
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
/*    background:rgba(63,193,192,0.4);
*/    opacity: 0;
    background:rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: all .5s;
    -webkit-transition: all .5s;
}

.color-overlay:hover:after {
    opacity: 1;
    cursor: pointer;
}

h3{
    position:absolute;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    z-index: 500;
    bottom: 10px;
    padding: 0 20px;
    display: none;
    font-family: "Quicksand-Regular";
}


.col-md-3{
    padding: 0;
}

nav ul li{
    font-family: "Quicksand-Regular";
    font-size: 22px;
    float: left;
    padding-right: 45px;
    list-style: none;
    text-transform: uppercase;
    margin-top: 60px;

}

nav ul li a{
    font-family: "Quicksand-Regular";
    text-decoration: none;
    color: #3fc1c0;
    
}

nav ul li a:hover{
    font-family: "Quicksand-Bold";
    text-decoration: none;
    color: #7cc24d;
    
}


#portfolio-intro{ 
    background: url(../img/colored-pencils.jpg) 50% 0 fixed no-repeat; 
    height: auto;  
    margin: 0; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 150px 0;
}




#home .port-logo{
    width: 250px;
    position: relative;
}

#portfolio{
    background: url(../img/halftone/halftone-edit.png)50% 0 fixed ; 
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 126px 0;

}

#blue-banner{
    background-color: #3fc1c0;
    width: 90%;
    border-right: 5px solid #00847f;
    border-bottom: 5px solid #00847f;
    border-top:5px solid #00847f;
    height:60px;
    position: absolute;
    padding: 0;
    margin: 0;

}

.container-fluid{
    padding: 0;
}

h2{
    color: white;
    text-transform: uppercase;
    font-size: 28px;
    padding-bottom: 35px;
    font-family: "Quicksand-Bold";


}

.skill{

/*    border: solid 1px black;
*/    float: left;
    padding: 0 50px;
    text-align: center;
}

.skill img:hover{
    cursor: pointer;
}

#theTeam-intro { 
    background: url(../img/cleveland.jpg) 50% 0 fixed no-repeat; 
    height: auto;
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 150px 0;
    color: #fff;
}

#theTeam-intro .team-logo{
    width: 600px;
    position: relative;
}

#theTeam{
    background: url(../img/halftone/halftone-edit.png)50% 0 fixed ; 
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 126px 0;
}

#katie{
    float: left;

}

#hannah{
    float:right;
}


#katie p{
    text-align: center;
    padding-top: 25px;
}

#hannah p{
    text-align: center;
    font-family: "Quicksand-Bold";
    font-size: 24px;
    text-transform: uppercase;
    padding-top: 25px;
}

#katie p{
    text-align: center;
    font-family: "Quicksand-Bold";
    font-size: 24px;
    text-transform: uppercase;
}



#teamButton{
    width: 300px;
    height: 100px;
    background-color: #7cc24d;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 30px;
    border: solid 5px #639a3e;
     -webkit-box-shadow: 10px 10px 9px -7px rgba(0,0,0,0.44);
    -moz-box-shadow: 10px 10px 9px -7px rgba(0,0,0,0.44);
    box-shadow: 10px 10px 9px -7px rgba(0,0,0,0.44);
}

#teamButton:hover{
    cursor: pointer;
}

h4{
    font-family: "Quicksand-Bold";
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    padding-top: 15px;
   
}


/*
_____________________________________

WEB STYLES 
_____________________________________

*/

.light-green{
    background-color: #7cc24d;
    height: 6px;
    padding: 0;
    width: 100%;

}

.mid-green{
    background-color: #6ba843;
    height: 9px;
    width: 100%;
}

.dark-green{
    background-color: #578936;
    height: 12px;
    width: 100%;

}

#web-gallery{
    background: url(../img/halftone/halftone-edit.png) ;
      height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 


}

.project{
    margin-left: 40px;
    margin-top: 50px;
    float:left;
     width: 100%;
}

.project img{

    float: left;
     position: relative;
     margin-right: 20px;
}

.project p{
    font-family: "Quicksand-Bold";
    font-size: 24px;
    text-transform: uppercase;
/*    border: solid black 1px;
*/    padding: 30px 0;
    position: relative;
}

.project img:hover{
   -webkit-box-shadow: 0px 1px 25px 5px rgba(209,51,39,0.75);
-moz-box-shadow: 0px 1px 25px 5px rgba(209,51,39,0.75);
box-shadow: 0px 1px 25px 5px rgba(209,51,39,0.75);
    cursor: pointer;
    border-radius: 100px;
}


#contact-intro{
    background: url(../img/lillies.jpg) 50% 0 fixed no-repeat; 
    height: 100vh;
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 150px 0;
    color: #fff;
}

#contact{
    background: url(../img/halftone/halftone-edit.png) ;
    height: 100vh;  
    margin: 0 auto; 
    width: 100%; 
    position: relative;
}


#contact p{
    font-family: "Quicksand-Regular";
    color: #444;
    font-size: 18px;
    margin-right: 150px;
}

h5{
    font-family: "Quicksand-Bold";
    color: #444;
    text-transform: uppercase;
    font-size: 40px;
    margin-right: 150px;
}

#footer{
    background-color: #3fc1c0;
    width: 100%;
    height: 70px;
}

#footer p{
    font-family: "Quicksand-Regular";
    font-size: 16px;
    color: white;
    padding-top: 20px;
    padding-left: 20px;
}

#social{
    position: absolute;
    padding-top: 15px;
    padding-right: 20px;
    right:0;
}

#social img{
    margin-right: 20px;
}


